
nav {
    position: fixed;
    color: #000000;
    padding: 6px 28px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    border: 1px solid gray;
}