<section id="home" class="home d-flex flex-column align-items-center justify-content-center text-center px-3 py-5">
    <h6 class="mb-2 fs-6 fs-md-5">Desenvolvimento, Hospedagem e Automações</h6>
    <h1 class="text-center fs-3 fs-md-2">Soluções Inovadoras <br class="d-none d-md-block"> Para Negócios Inovadores</h1>
    <small class="text-secondary d-block mt-2 fs-6 fs-md-5 w-75">Profissional experiente em desenvolvimento e manutenção de soluções web, desktop, mobile e automações.</small>
    <small class="text-secondary d-block fs-6 fs-md-5 w-75">Servidores dedicados para hospedar os seus sites, aplicativos e agentes.</small>
    <button type="button" class="btn btn-light mt-4 px-4 py-2 fs-6 fs-md-5">Impulsione o crescimento da sua empresa</button>
</section>

<section id="about" class="home d-flex flex-column align-items-center justify-content-around text-center">
    <div id="about-container" class="d-flex w-100 gap-5 p-4">
        <img src="../../../assets/img/bg.webp" alt="Imagem Thiago Santana" class="img-fluid w-100 rounded-lg">
        <div class="d-flex flex-column">
            <h5>Sobre Mim</h5>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis ea veritatis molestias animi blanditiis dolores? Quidem, illo. Sint, nihil, expedita quidem quos, pariatur impedit ipsum voluptates asperiores beatae eaque tempora!</p>
            <div class="h-100 d-flex align-items-end">
                <div class="d-flex flex-column">
                    <h6>Tecnologias</h6>
                    <div class="d-flex flex-wrap justify-content-around gap-2">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-sm">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tech-container">
    </div>
</section>