<section class="home d-flex flex-column align-items-center justify-content-center">
    <h6 class="mb-2">Desenvolvimento, Hospedagem e Automações</h6>
    <h1 class="text-center">Soluções Inovadoras <br> Para Negócios Inovadores</h1>
    <small class="text-secondary">Equipe experiente em desenvolvimento e manutenção de soluções web, desktop, mobile e automações.</small>
    <small class="text-secondary">Servidores dedicados para hospedar os seus sites, aplicativos e agentes.</small>
    <button type="button" class="btn btn-light m-4">Impulsione o crescimento da sua empresa</button>
</section>