<section class="home d-flex flex-column align-items-center justify-content-center text-center px-3 py-3">
    <h6 class="mb-3 fs-6 fs-md-5">Consultoria em tecnologia para o seu negócio e clientes</h6>
    <h1 class="text-center fs-3 fs-md-2 mb-3" >Soluções Inovadoras <br class="d-none d-md-block"> Para Negócios Inovadores</h1>
    <small class="text-secondary d-block mt-2 fs-6 fs-md-5 w-75">Consultoria especializada em sites, aplicativos e sistemas completos para empresas.</small>
    <small class="text-secondary d-block fs-6 fs-md-5 w-75 mb-3">Servidores dedicados para hospedar os seus sites, aplicativos e agentes.</small>
    <button type="button" class="btn btn-light mt-4 px-4 py-2 fs-6 fs-md-5">Impulsione o crescimento da sua empresa</button>
</section>
<!-- 
<section id="about" class="home row">
    <div id="about-container" class="d-flex w-100 gap-5 p-4">
        <img src="../../../assets/img/bg.webp" alt="Imagem Thiago Santana" class="img-fluid w-100 rounded-lg">
        <div class="d-flex flex-column">
            <h5>Sobre Mim</h5>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis ea veritatis molestias animi blanditiis dolores? Quidem, illo. Sint, nihil, expedita quidem quos, pariatur impedit ipsum voluptates asperiores beatae eaque tempora!</p>
            <div class="h-100 d-flex align-items-end">
                <div class="d-flex flex-column">
                    <h6>Tecnologias</h6>
                    <div class="d-flex flex-wrap justify-content-around gap-2">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-sm">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                        <img src="../../../assets/img/bg.webp"class="img-fluid w-25 rounded-lg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section id="solutions" class="p-4 home">
    <h5>// Soluções</h5>
    <p>Como o Desenvolvimento Web transforma suas ideias em <span class="text-info">oportunidades para o seu negócio.</span></p>
    <h5><span class="text-info">1.</span> Aprimoramento da Experiência do Usuário</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptates porro, ipsam modi unde, neque quibusdam et beatae maxime molestiae alias iusto suscipit libero sapiente veritatis repellendus fuga voluptas placeat.</p>
    <h5><span class="text-info">2.</span> Ampliação da sua presença digital</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptates porro, ipsam modi unde, neque quibusdam et beatae maxime molestiae alias iusto suscipit libero sapiente veritatis repellendus fuga voluptas placeat.</p>
    <h5><span class="text-info">3.</span> Integração eficiente de sistemas</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptates porro, ipsam modi unde, neque quibusdam et beatae maxime molestiae alias iusto suscipit libero sapiente veritatis repellendus fuga voluptas placeat.</p>
    <h5><span class="text-info">4.</span> Hospedagem</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptates porro, ipsam modi unde, neque quibusdam et beatae maxime molestiae alias iusto suscipit libero sapiente veritatis repellendus fuga voluptas placeat.</p>
    <h5><span class="text-info">5.</span> Automações</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita temporibus, necessitatibus velit consequuntur dolores eaque molestiae ullam ut itaque blanditiis in repellat optio dignissimos cupiditate quos qui sint fugiat voluptatibus.</p>
    <h5><span class="text-info">6.</span> Manutenção e suporte técnico proativo</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ipsa natus itaque minus rem nisi deserunt inventore, suscipit aliquid ducimus non dolore eveniet laudantium aliquam! Facilis dolore eligendi officiis eveniet.</p>
</section>
<!-- <section id="about" class="home p-4">
    <div id="about-container" class="row d-flex align-items-stretch">
        <div class="col-lg-6 col-md-12 d-flex align-items-center">
            <img src="../../../assets/img/bg.webp" alt="Imagem Thiago Santana" class="img-fluid rounded-lg w-100">
        </div>

        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-between">
            <div>
                <h5>// Sobre Mim</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis ea veritatis molestias animi blanditiis dolores? Quidem, illo. Sint, nihil, expedita quidem quos, pariatur impedit ipsum voluptates asperiores beatae eaque tempora!
                </p>
            </div>
            <div>
                <h5 class="mb-2 d-flex justify-content-end p-2">// Tecnologias</h5>
                <div class="d-flex flex-wrap justify-content-end gap-2">
                    <div class="p-3 bg-dark rounded-lg">
                        <img src="../../../assets/img/bg.webp" class="img-fluid logo rounded">
                    </div>
                    <div class="p-3 bg-dark rounded-lg">
                        <img src="../../../assets/img/bg.webp" class="img-fluid logo rounded">
                    </div>
                    <div class="p-3 bg-dark rounded-lg">
                        <img src="../../../assets/img/bg.webp" class="img-fluid logo rounded">
                    </div>
                    <div class="p-3 bg-dark rounded-lg">
                        <img src="../../../assets/img/bg.webp" class="img-fluid logo rounded">
                    </div>
                    <div class="p-3 bg-dark rounded-lg">
                        <img src="../../../assets/img/bg.webp" class="img-fluid logo rounded">
                    </div>
                    <div class="p-3 bg-dark rounded-lg">
                        <img src="../../../assets/img/bg.webp" class="img-fluid logo rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="mt-5 text-center">// Experiências</h5>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
            <div class="text-light rounded-lg">
                <img src="../../../assets/img/bg.webp" class="img-fluid w-100 rounded-lg">
                <div class="card-body p-1">
                    <h5 class="card-title text-center fs-6">Empresa</h5>
                    <div class="card-footer text-center">
                        <small class="text-secondary fst-italic fs-10">Desenvolvedor</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
            <div class="text-light rounded-lg">
                <img src="../../../assets/img/bg.webp" class="img-fluid w-100 rounded-lg">
                <div class="card-body p-1">
                    <h5 class="card-title text-center fs-6">Empresa</h5>
                    <div class="card-footer text-center">
                        <small class="text-secondary fst-italic fs-10">Desenvolvedor</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
            <div class="text-light rounded-lg">
                <img src="../../../assets/img/bg.webp" class="img-fluid w-100 rounded-lg">
                <div class="card-body p-1">
                    <h5 class="card-title text-center fs-6">Empresa</h5>
                    <div class="card-footer text-center">
                        <small class="text-secondary fst-italic fs-10">Desenvolvedor</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="portfolio" class="home p-4">
    <h5>// Portfólio</h5>
    <h3>Alguns <span class="text-info">Cases de Sucesso</span></h3>
    <p class="text-wrap">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt aperiam earum quam impedit consequuntur doloremque ex, saepe delectus. Inventore numquam modi beatae! Esse dolore consequuntur cumque omnis autem voluptate vero?</p>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
            <a href="#">
                <div class="card h-100 text-light bg-dark-ed rounded-lg">
                    <img src="../../../assets/img/bg.webp" class="img-fluid w-100 rounded-lg">
                    <div class="card-body">
                        <h5 class="card-title">Teste titulo</h5>
                        <div class="d-flex card-footer">
                            <small>Teste</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
            <a href="#">
                <div class="card h-100 text-light bg-dark-ed rounded-lg">
                    <img src="../../../assets/img/bg.webp" class="img-fluid w-100 rounded-lg">
                    <div class="card-body">
                        <h5 class="card-title">Teste titulo</h5>
                        <div class="d-flex card-footer">
                            <small>Teste</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
</section>

